<navbar role="manager"></navbar>
<div class="manager-content">
   <div class="event-header">
      <button type="button" id="deleteEventBtn" class="btn btn-danger btn-small" data-toggle="modal" data-target="#deleteEventModal">Delete Event</button>
      <h1>{{event.name}}</h1>
   </div>
   <p class="event-description">{{event.description}}</p>
   <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSlotModal">Add Slot</button></p>
   <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
         <tr>
            <th ng-show="showName">Name</th>
            <th>Time</th>
            <th>Available</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="slot in event.slots">
            <td ng-show="showName">{{slot.name}}</td>
            <td>{{slot.time | date:'short'}}</td>
            <td>
               <button type="button" class="btn btn-small btn-primary"  data-toggle="modal" data-target="#signUpModal" ng-click="prepareSignupModal(slot._id)" ng-show="slot.available">Sign Up</button>
               {{slot.details.name}} <a class="event-mailto" href="mailto:{{slot.details.email}}">{{slot.details.email}}</a>
               <span class="slot-freeup"><a data-href="#" data-toggle="modal" data-target="#removeSignupModal" ng-click="prepareRemoveSignupModal(slot._id)" ng-hide="slot.available">Free Up Slot</a></span>
            </td>
            <td><button type="button" class="btn btn-small btn-danger"><i class="glyphicon glyphicon-trash"></i></button></td>
         </tr>
      </tbody>
   </table>
</div>
<div>{{event}}</div>

<div id="addSlotModal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Add Slot</h4>
         </div>
         <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="slotName" class="col-lg-2 control-label">Slot Name:</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="slotName" placeholder="Slot Name (optional)" ng-model="slot.name">
                </div>
              </div>
              <div class="form-group">
                <label for="slotTime" class="col-lg-2 control-label" >Slot Time:</label>
                <div class="col-lg-10">
                  <div id="datetimepicker" class="input-group" datetime config="{language: 'en', pick12HourFormat: true}">
                     <input type="text" data-format="MM/dd/yyyy HH:mm:ss PP" class="form-control" id="slotTime" placeholder="Slot Time" ng-model="slot.time">
                        <span class="input-group-addon">
                           <i class="glyphicon glyphicon-time"></i>
                        </span>
                  </div>
                </div>
              </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="clearAddSlotModal()" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addSlot()">Save changes</button>
         </div>
   </div>
   </div>
</div>

<div id="deleteEventModal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Delete Event</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete the event? It can not be undone.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" ng-click="deleteEvent()">Delete</button>
         </div>
      </div>
   </div>
</div>

<div id="removeSignupModal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Free Slot</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to free this spot? It can not be undone.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" ng-click="freeSlot()">Delete</button>
         </div>
      </div>
   </div>
</div>

<div id="signUpModal" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Add Slot</h4>
         </div>
         <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name:</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="name" placeholder="Name" ng-model="signUpSlot.name">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email:</label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="email" placeholder="someone@something.com" ng-model="signUpSlot.email">
                </div>
              </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="clearSignup()" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="signup()">Sign Up</button>
         </div>
   </div>
   </div>
</div>
