
a:hover {
    cursor: pointer;
}

.css-form input.ng-invalid.ng-dirty {
    border-color: red;
}

.css-form input.ng-valid.ng-dirty {
    border-color: green;
}

.messagesList {
    z-index: 5000;
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
}

body {
    padding-top: 60px;
}

/*body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
*/